body {
	background: url('webzene.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: compact;
}

div {
	/*background-color: grey;*/
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	color: black;
}

.container {
	/*background-color: grey;*/
	position: relative;
	top: 50px;
	left: 5%;
	width: 500px;
	height: 550px;
}

#title {
	position: relative;
	left: 2%;
}

#oneH {
	position: relative;
	top: 15px;
	z-index: 2;
}

#twoH {
	position: relative;
	top: -15px;
	left: 72px;
	z-index: 2;
}

#shadowbox {
	position: relative;
	right: 3%;
	background-color: #e5e4e2;
	width: 500px;
	height: 550px;
	opacity: .6;
	box-shadow: 5px 10px 10px black;
	z-index: 1;
}

#portrait {
	position: relative;
	top: -530px;
	left: 320px;
	z-index: 2;
}