body {
	background: url('webzene.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} 


p {
	text-align: justify;
	font-family: 'Lato', sans serif;
	font-size: 15px;
	font-weight: bold;
}
.container {
	/*background-color: grey;*/
	position: relative;
	top: 50px;
	left: 5%;
	width: 500px;
	height: 550px;
}

.hexagon {
  position: absolute;
  width: 60px; 
  height: 34.64px;
  background-color: #000000;
  margin: 17.32px 0;
  z-index: 3;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 17.32px solid #000000;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 17.32px solid #000000;
}

.button {
	background: transparent;
	border: 0 none;
	width: 60px;
	height: 34.64px;
	color: #e5e4e2;
	font-family: 'Droid Sans', sans serif;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}

/*#back {
	display: block;
	z-index: 0;
	background: url('webzene.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*background-color: yellow;
	height: 100vh;
}*/

#text {
	height: 200px;
	width: 280px;
	position: absolute;
	top: 150px;
	left: 40px;
	z-index: 2;
	/*background-color: orange;*/
}

#title {
	position: absolute;
	left: 20px;
	top: 40px;
	/*background-color: black;*/
	height: 100px;
	width: 300px;
}

#oneH {
	position: absolute;
	top: 0px;
	z-index: 2;
	text-align: center;
	font-weight: 900;
	font-family: 'Droid Sans', sans serif;
	font-size: 40px;
	color: black;
}

#twoH {
	position: absolute;
	top: 45px;
	left: 67px;
	z-index: 2;
	text-align: center;
	font-weight: 900;
	font-family: 'Droid Sans', sans serif;
	font-size: 20px;
	color: #666666;
}

#shadowbox {
	position: relative;
	right: 3%;
	background-color: #e5e4e2;
	width: 500px;
	height: 550px;
	opacity: .7;
	box-shadow: 5px 10px 10px black;
	z-index: 1;
}

#temp {
	/*background-color: black;*/
	color: red;
	text-align: center;
	height: 200px;
	width: 450px;
}

#portrait {
	position: relative;
	top: -530px;
	left: 320px;
	z-index: 2;
}